# QEMU VM Configuration File
# Usage: qemu-system-x86_64 -readconfig vm-config.cfg -daemonize

[machine]
  type = "q35"
  accel = "kvm"

[memory]
  size = "8G"

[smp-opts]
  cpus = "8"
  cores = "8"
  threads = "1"
  sockets = "1"

[device "ahci"]
  driver = "ich9-ahci"
  id = "ahci0"

[drive "disk0"]
  file = "win10-tia19.qcow2"
  format = "qcow2"
  if = "none"
  id = "drive-sata0-0-0"

[device "sata-disk0"]
  driver = "ide-hd"
  bus = "ahci0.0"
  drive = "drive-sata0-0-0"

[netdev]
  type = "user"
  id = "net0"
  hostfwd = "tcp::2222-:22"

[device]
  driver = "rtl8139"
  netdev = "net0"

[device "vga"]
  driver = "qxl-vga"
  vram_size_mb = "256"

# [device "sound"]
#   driver = "intel-hda"

# [device "sound-codec"]
#   driver = "hda-duplex"
#   bus = "sound.0"
