# Default for the entire project
* @joel_hjalmarsson @Owais79 @karthipalani

.gitlab-ci/ @joel_hjalmarsson @Owais79 @karthipalani @mechagodzilla

[Architectural Decision Records][2]
ADRs/ @joel_hjalmarsson @Owais79 @karthipalani
